.big-img {
    width: 100%;
    height: 300px;
}

.big-img .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.big-img .container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.big-img .container span {
    width: 1000px;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    opacity: 1;
    font-weight: 500;
    color: #f8f8f8;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}