.member-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    width: 30%; /* 控制每排的 member 数量，根据需要调整 */
  }
  
  .member-container .member img {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(245,245,245); 
    object-fit: cover;
  }
  
  .person-content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(245,245,245); 
    background-color: rgb(245,245,245);
  }
  

  .person-content .title{
    text-align: center;
    font-weight: bold;
  }

  .title, .description {
    margin: 5px;
  }
  
  .member-container .member img, .person-content {
    flex: 1;
  }
  
