.member-container {
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
}


.member-container * {
  box-sizing: border-box;
}


.member-container a {
  text-decoration: none;
}

.member-container #team {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.member-container .heading {
  font-size: 1.3rem;
  color: #2c2c2c;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 20px;
}


.member-container .heading i {
  background-color: rgb(54, 46, 151);
  box-shadow: 2px 5px 30px rbga(80, 123, 252, 0.4);
  color: #ffffff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin: 0px 20px;
  border-radius: 100%;
}

.member-container .box {
  width: 260px;
  height: 340px;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0, 05);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
  position: relative;
}


.member-container .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}




.fa-user {
  color: rgb(139, 139, 139);
}

.nav {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.details img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}


.details strong {
  font-weight: 500;
  color: #141414;
  letter-spacing: 1px;
}

.details p {
  font-size: 0.8rem;
  color: #7a7a7a;
  margin: 10px 0px;
  margin-bottom: 20px;
}


.btn a {
  color: #8b8b8b;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.btn a i {
  margin-right: 10px;
}

.btn a:hover {
  color: #fff;
  background-color: #507bfc;
  box-shadow: 2px 5px 15px rgba(80, 123, 252, 0.5);
  transition: all ease 0.3s;
}


.box:hover {
  box-shadow: 2px 2px 30px rgba(4, 15, 29, 0.1);
  transform: scale(1.01);
  transition: all ease 0.1s;
}