.footer {
  background-color: #F5F5F5;
  height: auto;
  /* 移除固定高度，以允许内容撑开高度 */
  margin-top: auto;
  flex-wrap: wrap;
  /* 添加 flex-wrap，允许内容换行 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-container {
  width: 70%;
  display: flex;
}

.footer .footer-container .item {
  flex: 1;
  width: auto;
  /* 默认宽度，会根据内容自动调整 */
  text-align: center;
  font-weight: 400;

}

.footer .footer-container .item h4 span {
  color: #666666;
  line-height: 2;
  font-size: 15px;
}